* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(https://th.bing.com/th/id/R.9b237e0ead762eba4df612711f790c84?rik=2yLcRbgF0MymxQ&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f04%2fDownload-fire-wallpaper-HD-backgrounds.jpg&ehk=uJp05BSlDyARI%2f4W8w5%2foM0lNuSqGyPj45xw1Pe9cjk%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  color: black;
  line-height: 1.6;
  height:100vh;
  display: grid;
  overflow-y: hidden;
  justify-content: center;
}

header, footer {
  background-color: black;
  color: #fff;
  text-align: center;

}
.grid {
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}
article {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  justify-self: center;
  
}
article img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.main {
    padding: 5px;
    min-height: calc(100vh - 150px);
    overflow-y: hidden;
    background-image: url(https://th.bing.com/th/id/R.9b237e0ead762eba4df612711f790c84?rik=2yLcRbgF0MymxQ&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f04%2fDownload-fire-wallpaper-HD-backgrounds.jpg&ehk=uJp05BSlDyARI%2f4W8w5%2foM0lNuSqGyPj45xw1Pe9cjk%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
}
.photos {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 10px; 
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.photos img {
  flex: 0 0 400px;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  position: relative;
}
nav {
  
  padding: 10px;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 15px;
}
nav a:hover {
  text-decoration: underline;
}
footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

section.grid {
  
  padding: 20px;
  border-radius: 10px;
}
article.image {
  text-align: center;
  margin: 20px 0;
  width : 100%;
  height: 50px
}
