* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6;
  
  height:100vh;
  display: grid;
  overflow-y: hidden;
  justify-content: center;
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;

}

article {
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  justify-self: center;
}

.main {
    padding: 5px;
    min-height: calc(100vh - 150px);
    overflow-y: hidden;
    background-image: url(https://th.bing.com/th/id/R.9b237e0ead762eba4df612711f790c84?rik=2yLcRbgF0MymxQ&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f04%2fDownload-fire-wallpaper-HD-backgrounds.jpg&ehk=uJp05BSlDyARI%2f4W8w5%2foM0lNuSqGyPj45xw1Pe9cjk%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
}

.photos {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px; 
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.photos img {
  flex: 0 0 400px;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  position: relative;
}

nav {
  
  padding: 10px;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

section {
  justify-content: center;
  align-items: center;
}
section h2 {
  text-align: center;
  margin-bottom: 10px;
}


