* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  height:100vh;
  display: grid;
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.main {
    padding: 20px;
    min-height: calc(100vh - 140px);
    grid-template-rows: auto 1fr auto;
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px , 10px));
  justify-content: center;
  gap: 10px;
  overflow-x: scroll;
  width: 1200px;
}
.photos img {
  width: 350px;
  height: 250px;
  border-radius: 5px;
  position: relative;
}


