* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  height:100vh;
  display: grid;
  overflow-y: hidden;
  justify-content: center;
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

article {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  justify-self: center;
}

.main {
    padding: 20px;
    min-height: calc(100vh - 100px);
    overflow-y: hidden;
}

.photos {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px; 
  -webkit-overflow-scrolling: touch;
}

.photos img {
  flex: 0 0 400px;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  position: relative;
}


